<p id="notice"><%= notice %></p>

<h1>Meine Kontakte</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.vorname %></td>
        <td><%= contact.nachname %></td>
        <td><%= contact.email %></td>
        <td><%= link_to 'Details', contact %></td>
        <td><%= link_to 'Bearbeiten', edit_contact_path(contact) %></td>
        <td><%= link_to 'Löschen', contact, method: :delete, data: { confirm: 'Bist du sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
